:root {
  --font-oranienbaum: 'Oranienbaum', serif;
  --font-ptsans: 'PT Sans', sans-serif;
  --font-robotoCondensed: 'Roboto Condensed', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  background: #000000;
  box-sizing: border-box;
}

.options {
  background: white;
  position: relative;
  padding: 0;
  margin: 0 auto;
}

.header {
  top: 20px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  z-index: 10;
  width: 100%;
  transition: position 0.8s ease;
  font-family: var(--font-oranienbaum);
}

.menu {
  margin-top: 10px;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  margin: 2px 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: color 0.4s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.menu li a:hover {
  color: bisque;
}

.socials {
  margin-right: 50px;
  margin-top: 5px;
}

.socials a {
  text-decoration: none;
}

.socials img {
  transition: transform 0.4s ease;
}

.socials img:hover {
  transform: scale(1.2);
}

.phones a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
}

.inner_content {
  width: 100%;
  background-image: url(../img/bg-main.png);
  min-height: 600px;
  background-position: center;
  background-size: cover;
}

.title_block-text {
  margin-top: 50px;
  font-family: var(--font-oranienbaum);
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.title_block-subtext {
  margin-top: 5px;
  font-family: var(--font-oranienbaum);
  color: #cdb380;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

.title_block-subtext:hover {
  color: #cdb380;
}

.block_style-help {
  width: 100%;
  padding: 50px 0 0px 0;
  color: #262626;
  position: relative;
  overflow: hidden;
}

.block_style-title {
  font-family: var(--font-oranienbaum);
  font-size: 33px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.block_style-text {
  position: relative;
  width: 64%;
  font-family: var(--font-ptsans);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  font-weight: bold;
  color: #262626;
  line-height: 28px;
  letter-spacing: 0.7px;
  text-align: center;
  margin-bottom: 15px;
}

.block_style-new {
  position: absolute;
  font-size: 18px;
  left: -33px;
  top: 48px;
  transform: rotate(-40deg);
  width: 207px;
  text-align: center;
  color: #fff;
  background: #ff0b3b;
  height: 21px;
  -webkit-box-shadow: 0px 8px 3px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 3px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 3px -2px rgba(0, 0, 0, 0.2);
}

.block_style-help span {
  font-family: var(--font-robotoCondensed);
  margin-top: 5px;
  font-size: 13px;
}

.block_howtodo {
  margin: 0 auto;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.block_howtodo p {
  margin-bottom: 30px;
  font-family: var(--font-ptsans);
}

.block_howtodo-text {
  font-family: var(--font-ptsans);
  width: 75%;
  margin: 0 auto;
  margin-bottom: 30px;
}

table.iksweb {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
  background: #fff000 !important;
}
table.iksweb,
table.iksweb td,
table.iksweb th {
  border: 1px solid #fdc300 !important;
}
table.iksweb td,
table.iksweb th {
  height: 50px;
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
}
table.iksweb th {
  color: #fff;
  font-weight: normal;
}
.title_table td {
  width: 200px !important;
}
.first-col {
  width: 40% !important;
  text-align: left !important;
  padding-left: 20px;
  font-family: var(--font-ptsans);
  font-weight: bold;
}

.body-table {
  text-align: center !important;
  padding-left: 20px;
  font-family: var(--font-ptsans);
  font-weight: bold;
}

.table-currency div {
  border: 1px solid black !important;
  padding: 3px;
  width: 25px;
  margin: 0 5px;
  font-size: 13px;
  font-weight: bold;
}

.title_table {
  background: #ffd100 !important;
  font-weight: bold;
  font-family: var(--font-ptsans);
  font-size: 20px;
}

.write_now-title {
  font-family: var(--font-oranienbaum);
  font-weight: bold;
  font-size: 19px;
}

.card-title {
  background-color: #d7efd5;
  font-weight: bold;
  font-size: 14px;
  font-family: var(--font-ptsans);
}

.block {
  width: calc(100% / 3);
}
.write_now button {
  background: #000000;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--font-ptsans);
  font-size: 14px;
  width: 80%;
  height: 40px;
  margin: 15px 5px;
  border: none;
}

.block_packet button {
  background: #000000;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--font-ptsans);
  font-size: 14px;
  width: 80%;
  height: 40px;
  margin: 15px 23px 5px 23px;
  border: none;
  background: #fe0a39;
}

.block_packet {
  margin: 0 40px;
  width: 250px;
  transition: box-shadow 0.3s ease;
  border: 1px solid #bfbfbf;
  padding-top: 34px;
  height: 340px;
  margin-bottom: 30px;
}

.block_packet-title {
  font-family: var(--font-ptsans);
  font-weight: bold;
  text-align: center;
  font-size: 19px;
  width: 52%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.block_packet-body {
  font-family: var(--font-ptsans);
  font-size: 16px;
  width: 188px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.block_packet-body div {
  font-weight: bold;
  margin-bottom: 0px;
  display: block;
}

.full-price {
  position: relative;
  font-family: var(--font-ptsans);
  font-size: 17px;
  color: #b8b6b5;
  width: 80px;
  margin: 0 auto;
}

.full-price::before {
  content: '';
  position: absolute;
  width: 80%;
  background: red;
  height: 2px;
  transform: rotate(-7deg);
  left: 7px;
  bottom: 7px;
}

.sell-price {
  font-family: var(--font-ptsans);
  font-size: 22px;
  font-weight: bold;
}

.response_client {
  margin-bottom: 40px;
}

.response_client div {
  font-family: var(--font-roboto);
  font-size: 22px;
  max-width: 330px;
}

.response_client a img {
  width: 150px;
  margin-right: 30px;
}

.footer button {
  border: 1px solid #fff;
  background: #000000;
  color: #fff;
  font-family: var(--font-roboto);
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px;
}

.footer button span {
  font-weight: bold;
  font-size: 20px;
}

.footer_nav {
  width: 100%;
  color: #fff;
  font-family: var(--font-roboto);
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer_nav li {
  margin-bottom: 10px;
}

.footer_nav a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 992px) {
  .block_howtodo {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .block_howtodo {
    width: 90%;
  }

  .write_now button {
    font-size: 10px;
    width: auto;
  }
}

@media (max-width: 506px) {
  .block_howtodo {
    width: 95%;
  }
  .write_now-blocks {
    flex-direction: column;
  }
  .block {
    width: calc(100% / 1);
  }
  .block_style-new {
    font-size: 15px;
    left: -38px;
    top: 11px;
    width: 125px;
  }
  .first-col,
  .title_table,
  .body-table {
    font-size: 13px;
  }
  .first-col {
    padding-left: 10px;
  }
  .write_now button {
    font-size: 10px;
    width: auto;
  }
  .title_table td {
    width: 100px !important;
  }
  .body-table {
    padding-left: 5px;
  }
}
